body {
	font: 100%/1.2;
	font-family: 'Nunito Sans', sans-serif;
	color: #7E6F7D;
	background-color: #fff;
	margin: 0;
	padding: 0;
}

h1 {
	font-weight: 300;
	font-size: 200%;
	text-transform: uppercase;
	letter-spacing: .05em;
}
h3 {
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 115%;
	color: #332E38;
	margin-bottom: 10px;
}
a:link, a:visited {
	color: #E6C6AB;
	text-decoration: none;
}

a:hover {
	color: #332E38;
}

nav a:active {
	color:#F1E2E5;
}

/* -------------------------------------------
	scroll back up icon
---------------------------------------------*/
.scroll-up {
	width: 3em;
	height: 3em;
	position: relative;
	border-top: .5em solid rgba(51, 46, 56, 0.7);
	border-right: .5em solid rgba(51, 46, 56, 0.7);
	transform: rotate(-45deg);
	left: 50%;
	margin-left: -30px;
	margin-bottom: 30px;
	cursor: pointer;
	border-radius: 8px;
}

.scroll-up:after {
	display: block;
	max-height: 100%;
	transform: rotate(45deg);
	margin-left: 17px;
	margin-top: 8px;
	font-size: 110%;
	content: 'top';
	color: rgba(51, 46, 56, 0.4);
}

.scroll-up:hover{
	border-top: .5em solid rgba(51, 46, 56, 1);
	border-right: .5em solid rgba(51, 46, 56, 1);
}

.scroll-up:hover:after{
	color:rgba(51, 46, 56, .7);
}


/* -------------------------------------------
	marker for jquery/css to work together
	in hiding/showing menu
---------------------------------------------*/
.screen-size {
	width: 0px;
	display: none;
}

/* -------------------------------------------
	triangular background/body magic
---------------------------------------------*/
.splash{
	height: 100vh;
	width: 100vw;
	width: 100%;
	position: relative;
	overflow:hidden;
}

.splash:before {
	z-index: -1;
	content: '';
	position: absolute;
	border-top: 56em solid #FFFFFF;
	border-right: 110em solid #332E38;
}

.left-corner-triangle {
	width: 0px;
	height: 0px;
	border-top: 195px solid #332E38;
	border-right: 460px solid transparent;
}

.triangles {
	width: 100%; 
  	height: 7em; 
  	background-color: #332E38;
  	position: relative;
  	margin-bottom: 90px;
}

.triangles:after {
	content: '';
	display: block;
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -193px;
	border-color: #332E38 transparent transparent transparent;
	border-style: solid;
	border-width: 60px 190px 50px 190px;
}

/* -------------------------------------------
	menu bar
---------------------------------------------*/
header {
	position: absolute;
	width: 100%;
	margin: 86px 0 0 40px;
}

#menu {
	display:none;
}

nav ul {
	background: rgba(51, 46, 56, 0.9);
	/*background:#7E6E8D;*/
	margin: 0;
	padding: 0;
	border-radius: 4px;
}

nav ul li {
	display: block;
	padding: 25px;
	font-size: 130%;
	font-weight: 300;
}

nav ul li:hover {
	background-color:#7E6F7D;
}

nav a:link, nav a:visited {
	text-decoration: none;
	color: #fff;
}

nav a:hover {
	color: #332E38;
}

/* -------------------------------------------
	hamburger icon
---------------------------------------------*/
#hamburger-wrapper {
	cursor: pointer;
	margin: 40px 0 0 40px;
	float: left;
	width: 55px;
	height: 45px;
	background-color: #7E6F7D;
	border-radius: 4px;
	-moz-box-shadow: 0 8px 6px -6px #1B181D;
	-webkit-box-shadow: 0 8px 6px -6px #1B181D;
	box-shadow: 0 8px 6px -6px #1B181D;
}

.hamburger {
	margin-top: 10px;
	margin-left: 10px;
	width: 35px;
	height: 3.4px;
	border-top: 10px double #FFFFFF;
	border-bottom: 10px double #FFFFFF;
}


/* -------------------------------------------
	Social Media Icons and Hover Effect
icon source: https://iconmonstr.com/
---------------------------------------------*/
.media_icons {
	margin-top: 20px;
	margin-left: 10px;
}

.media {
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.github {
	background: url(images/social_icons/githubhover.svg);
	background-size: 80px 80px;
}

.github:hover {
	background: url(images/social_icons/githubhover.svg);
	background-size: 80px 80px;
}

.codepen {
	background: url(images/social_icons/codepenhover.svg);
	background-size: 80px 80px;
}

.codepen:hover {
	background: url(images/social_icons/codepenhover.svg);
	background-size: 80px 80px;
}

.instagram {
	background: url(images/social_icons/instagramhover.svg);
	background-size: 80px 80px;
}

.instagram:hover {
	background: url(images/social_icons/instagramhover.svg);
	background-size: 80px 80px;
}

.email {
	background: url(images/social_icons/emailhover.svg);
	background-size: 80px 80px;
}

.email:hover {
	background: url(images/social_icons/emailhover.svg);
	background-size: 80px 80px;
}


/* -------------------------------------------
	intro: my name and caption;
---------------------------------------------*/
.intro {
	margin-left: 1.3em;
	position: absolute;
	z-index: -1;
	width: 100%;
}

.intro h1 {
	text-transform: uppercase;
	letter-spacing: .5em;
	font-size: 185%;
	color: #7E6F7D;
}

.intro hr {
	width: 80%;
	margin: 0;
	border: none;
	height: .16em;
	-webkit-background-image: linear-gradient(to right, #E6C6AB, #E6C6AB, #fff);
	-moz-background-image: linear-gradient(to right, #E6C6AB, #E6C6AB, #fff);
	background-image: linear-gradient(to right, #E6C6AB, #E6C6AB, #fff);
}

.intro p {
	margin-top: 2em;
	font-size: 100%;
	font-weight: 300;
}


/* -------------------------------------------
	About Section
---------------------------------------------*/

.about {
	background-color: #fff;
	font-weight: 300;
	line-height: 1.7;
	text-align: center;
	margin-bottom: 48px;
}

.content {
	margin: 0 auto;
	width: 37.5em;
	max-width: 100%;
}

.content p{
	padding: 0 .625em 0px .9375em;
	text-align: left;
}

/* -------------------------------------------
	Portfolio Section
---------------------------------------------*/
.portfolio {
	text-align: center;
}

.project_images {
	margin-top:50px;
	margin-bottom: 1.25em;
}


/* -------------------------------------------
	Contact Section
-----------------------------------------------*/
.contact {
	text-align: center;
	margin-bottom: 80px;
}

/*.contact a:link, .contact a:visited {
	color: #FFF;
	text-decoration: none;
}

.contact a:hover {
	color: #353535;
}*/


.social_media {
	padding-left: 3.75em;
	margin-top:50px;
}

.social_media .media {
	text-align: center;
	width: 12.5em;
	background-repeat: no-repeat;
	left: 1.25em;
}

.social_media .media:before {
	position: relative;
	left: .625em;
	top: 4em;
}

.social_media .email:before {
	content: ". . . . email me";
}

.social_media .github:before {
	content: ". . . . github";
}

.social_media .codepen:before {
	content: ". . . . codepen";
}

/*.social_media .wordpress:before {
	content: ". . . . blog";
}*/

.social_media .instagram:before {
	content: ". . . . instagram";
}

/* -------------------------------------------
	Images
---------------------------------------------*/
figure {
	display: inline-block;
	margin: 0 2% 0 2%;
	width: 20em;
}

figure img {
	border-radius: 2px;
	margin-bottom: .5px;
}

figcaption {
	font-size: 87%;
	text-align: center;
	margin-bottom: 5em;
}

.portfolio img {
	max-width: 100%;
	height: auto;
	width: auto\9;  /*for ie8*/
	opacity: 1;
	transition: opactiy .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}

.portfolio img:hover {
	opacity: 0.5;
}

figcaption hr{
	width: 2.5em;
	border: none;
	height: .25em;
	margin-bottom: 16px;
	background-color: #E6C6AB;
}

/* -------------------------------------------
	Footer
-----------------------------------------------*/
footer {
	height: 3em;
	padding-top: 30px;
	margin-top:30px;
	background-color: #332E38;
	color: #FFF;
	font-weight: lighter;
	text-align: center;
}



/* -------------------------------------------
	Media Querie at 670px
	pixel / 16 = em
---------------------------------------------*/
@media screen and (min-width: 41.875em) {
	.intro {
		margin: 30px 0 0 80px;
	}
	.intro h1 {
		font-size: 230%;
	}
	.intro p {
		font-size: 110%;
	}
}


/* -------------------------------------------
	Media Querie at 1040px
	Hide hamburger icon, expand menu
---------------------------------------------*/
@media screen and (min-width: 65em) {
	.screen-size {
		width: 850px;
	}

	.intro hr {
		width: 60%;
	}
	.intro h1 {
		font-size: 230%;
	}
	.intro p {
		font-size: 110%;
	}

	#hamburger-wrapper {
		display: none;
	}

	#menu {
		display: inline;
	}

	nav ul {
		background: transparent;
	}

	header {
		margin: 0;
		position: relative;
		width: 57%;
		float:right;
	}

	nav ul li {
		display: inline-block;
		padding: 30px;
		font-size: 120%;
		color: #D8AC8F;
		text-transform: uppercase;
	}

	nav ul li:hover {
		color:#332E38;
		background-color: transparent;
		border-bottom: 3px solid #332E38;
	}

	.highlight {
		color: #332E38;
		border-bottom: 3px solid #332E38;
	}
}

/* -------------------------------------------
	Media Querie at 1142px +
---------------------------------------------*/
@media screen and (min-width: 71.375em) {
	.intro {
		margin: 40px 0 0 90px;
	}
	.intro hr {
		width: 40%;
	}
	.intro h1 {
		font-size: 280%;
	}
	.intro p {
		font-size: 120%;
	}
	header {
		width: 62%;
	}

	nav ul li {
		padding: 40px;
	}
}




